<app>
    <p>{ props.title }</p>
    <todo title="{ props.ctitle }"></todo>
    <style>
        :host {
            display: block;
            margin: 2px auto;
        }
    </style>
    <script>
        import todo from './todo.riot'
        export default {
            components: {
                todo
            }
        } 
    </script>
</app>